footer{
    background-color: rgb(50, 50, 50);
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
}
.pie__de--pagina {  
    margin: 2%;
    padding-top: 5%;
    color: white;
    display: flex;
    flex-direction: column;

    @media(min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        font-size: 110%;
        grid-template-areas:
            "trayectoria servicios visitanos"
            "horario lista direccion";
        }
    .trayectoria { 
        grid-area: trayectoria;

        @media(min-width: 768px){
            margin-left: 20%;
        }
    }
    .servicios { 
        grid-area: servicios; 
    }
    .visitanos { 
        grid-area: visitanos; 
    }
    .horario { 
        grid-area: horario; 
    }
    .lista { 
        grid-area: lista; 
    }
    .direccion { 
        grid-area: direccion; 
    }
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4%;
    margin: 1%;

    @media(min-width: 1024px){
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 5%;
    }
}
@media(min-width: 768px){
    .icon:hover{
        transform: scale(2);
        transition-property: all;
        transition-duration: 2s;
    }
}
.copy{
    color: white;
    margin-left: 5%;
    font-size: 80%;
}